html{
	font-size: 18px;
	line-height: 1.4;
	font-family: helvetica, sans-serif;
}

/*Top Navigation Bar*/

.mobile-nav{
	display: none;
}

.top-nav{
	display: flex;
	top: 1rem;
	position: relative;
	background-color: cadetblue;
	padding: 1rem 2rem;
	justify-content: space-between;
	margin-left: 6rem;
	margin-right: 6rem;
}

.top-nav img{
	height: 1.5rem;
	padding-right: 1rem;
}

.left-nav, .right-nav{
	font-size: 1rem;
	color: white;
}

.left, .right{
	display: inline-flex;
	align-items: center;
}

.right-nav{
	padding-right: 2rem;
}

/*Main Banner*/

.main{
	height: 30rem;
	background-image: url(glasses-bg.png);
	background-size: cover;
}

.see{
	position: relative;
	float: right;
	background-color: white;
	top: 10rem;
	right: 4rem;
}

.see p{
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	padding: 1.5rem 5rem;
}

/*Icons*/

.icons{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.icon{
	height: 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.paper-container{
	/*width: 8rem;   An attempt to make the div bigger to align the text for this one*/
}

.paper-container, .ruler-container{
	margin-right: 6rem;
}

.icon img{
	max-width: 100%;
}

.words{
	text-align: center;
	width: 5rem;
	line-height: 1.25rem;
}

.paper{
	width: 3.5rem;
}

.ruler{
	width: 5rem;
}

.truck{
	width: 5rem;
	/*padding-bottom: 2rem;*/
}


/*Info Section*/

.information{
	display: flex;
	justify-content: space-around;
	padding-left: 90px;
}

.title{
	background-color: cadetblue;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	width: 10rem;
	padding: 0.5rem 0 0.5rem 0.25rem;
}

.philosophy, .appointments{
	width: 25%;
	margin: 0 20px;
}

.philosophy p, .appointments p{
	padding-top: 1rem;
	width: 19rem;
}

.philosophy{
	margin-right: 0%;
}

/*Footer*/

footer{
	display: flex;
	background-color: azure;
	padding: 4rem;
	margin-top: 5rem;
}

footer img{
	height: 1.5rem;
	padding-right: 1rem;
}


/*Media Queries*/


/*iPad Screen*/

@media only screen and (max-width: 1024px){

	.top-nav{
		margin: 0;
		top: 0;
	}

	.main{
		height: 22rem;
	}

	.icons{
		width: 100%;
	}

	.icon{
		justify-content: space-around;
	}

	.see{
		top: 5rem;
		right: 0;
		margin-right: 2rem;
	}

	.see p{
		padding: 0.75rem 4rem;
		font-size: 1.33rem;
	}

	.information{
		padding: 0;
	}
}

/*Mobile Screen*/

@media only screen and (max-width: 470px){

	.top-nav{
		display: none;
	}

	.main{
		height: 17rem;
		background-position: 20%;
	}

	.mobile-nav{
		display: flex;
		background-color: cadetblue;
		padding: 1rem 1rem;
		justify-content: space-between;
	}

	.mobile-nav img{
		height: 1.5rem;
	}

	.see{
		top: 9rem;
		margin-right: 0;
		float: none;
	}

	.see p{
		text-align: center;
		padding: 1rem 0;
	}

	.icons{
		flex-direction: column;
		margin-top: 3.77rem;
		margin-bottom: 3.77rem;
	}

	.information{
		flex-direction: column;
		align-items: center;
		padding: 0;
	}

	.philosophy, .appointments{
		margin: 0;
	}

	.philosophy, .appointments, .title{
		width: 100%;
	}

	.information .title{
		text-align: center;
	}

	.philosophy p, .appointments p{
	padding-bottom: 4rem;
	padding-left: 0.5rem;
	font-size: 0.77rem;
}

	.paper-container, .ruler-container{
		margin-right: 0;
	}

	.ruler-container, .truck-container{
		margin-top: 1.54rem;
	}

	footer{
		justify-content: center;
		margin-top: 0;
	}

	.copyright{
		display: none;
	}

}
